body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.29);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.btn{
    margin: 0;
}
nav, nav ul, nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline;
}
.mycontainer{
    width: 97%;
    height: 52vh;
    background-color: white;
    position: relative;
    cursor: pointer;
}
.area{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 13px;
}
#orang{
    width: 60px;
    height: auto;
    position: absolute;
    z-index: 9;
    position: absolute;
    bottom: 0;
    right: 0;
}

.myrow{
    width: 100%;
    height: 10%;
    display: flex;
}
.mycol{
    width:2.56%;
    height: 100%;
    border: 1px solid black;
}
.namaRuangan{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}