<!-- outer nya bakal base.html -->
{% extends 'base.html' %}

<!-- ngisi bagian head -->
{% block head %}
<title>HI</title>
{% endblock %}

<!-- ngisi bagian body -->
{% block body %}
<!-- untuk warna kotak -->
    {% for row in peta[lantai] %}
      {% set j = loop.index %}
      <div class="myrow" id="myrow-{{ j-1 }}">
        {% for col in row %}
          {% set k = loop.index %}
          {% if col == 0 %}
          <div class="mycol" id="mycol-{{ k }}" ></div>
          {% elif col == -1 %}
          <div class="mycol" id="mycol-{{ k }}" style="color:#0062ff;display:flex;kustify-content:center;align-items:center;"><i class="fa-solid fa-bottle-water fa-2xl fa-flip" style="--fa-animation-duration: 3s;"></i></div>
          {% else %}
          <div class="mycol" id="mycol-{{ k }}" style="background-color: #ffff9dd9;"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
<!-- untuk nama ruangan -->
    {% for ruangan in ruangans %}
        {% set i = loop.index %}
        {% if ruangans[i].namaLantai == lantai %}
        <div class="namaRuangan" style="position: absolute;left: calc(2.56% * {{ ruangans[i].startX }});top: calc(10% * {{ ruangans[i].startY }});width: calc(2.56% * {{ ruangans[i].width }});height: calc(10% * {{ ruangans[i].height }});background-color:#ffff9dd9;">{{ ruangans[i].namaRuangan }}</div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}