<!-- outer nya bakal base.html -->
{% extends 'base.html' %}

<!-- ngisi bagian head -->
{% block head %}
<title>HI</title>
{% endblock %}

<!-- ngisi bagian body -->
{% block body %}
<!-- untuk warna kotak -->
    {% for row in peta[lantai] %}
    <div class="myrow">
      {% for col in row %}
        {% if col == 0 %}
        <div class="mycol"></div>
        {% elif col == -1 %}
        <div class="mycol" style="background-color: aqua;"></div>
        {% else %}
        <div class="mycol" style="background-color: gray;"></div>
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
<!-- untuk nama ruangan -->
    {% for ruangan in ruangans %}
        {% set i = loop.index %}
        {% if ruangans[i].namaLantai == 'plantai1' %}
        <div class="namaRuangan" style="position: absolute;top: calc(10% * {{ ruangans[i].startX }});left: calc(2.56% * {{ ruangans[i].startY }});width: calc(2.56% * {{ ruangans[i].width }});height: calc(10% * {{ ruangans[i].height }});background-color:gray;">{{ ruangans[i].namaRuangan }}</div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}